<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Загрузка файлов и папок</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fileLoad.css">
</head>
<body>

<h1>Загрузка файлов и папок</h1>

<!-- Форма загрузки файла -->
<form method="post" th:action="@{/uploadFile}" enctype="multipart/form-data">
    <div class="drop-zone">
        <span class="drop-zone__prompt">Перетащите файл или нажмите для загрузки</span>
        <input type="file" name="file" accept=".doc,.docx,.pdf,.jpeg,.png" class="drop-zone__input">
    </div>

    <div th:if="${error}" style="color: red;">
        <p th:text="${error}">Ошибка</p>
    </div>

    <button type="submit">Загрузить файл</button>
</form>

<!-- Форма загрузки папки -->
<form id="upload-folder-form" method="post" th:action="@{/uploadFolder}" enctype="multipart/form-data">
    <div class="drop-zone">
        <span class="drop-zone__prompt">Перетащите папку или нажмите для загрузки</span>
        <input type="file" id="folder-input" name="files" webkitdirectory directory multiple accept=".doc,.docx,.pdf,.jpeg,.png" class="drop-zone__input">
    </div>

    <div id="folder-error" style="color: red;"></div>

    <button type="submit" id="upload-folder-btn">Загрузить папку</button>
</form>

<script src="/js/dragNdrop.js"></script>

<form th:action="@{/auth/logout}" method="post">
    <input type="submit" value="Выйти">
</form>

</body>
</html>
